.custom-navbar {
    border-radius: 1rem;
    margin: 0.6rem;
  }

.bi{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.navbar-nav .nav-link {
    margin-right: 20px;
    font-size: large;
  }

 
