.nav-link{
  font-family: 'Poppins', sans-serif;

 
}

.custom-navbar {
  border-radius: 1rem;
  margin: 0.6rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.bi-cart {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  color: black;
}

.navbar-nav .nav-link {
  margin-right: 30px;
  font-size: large;
}

#navLogo {
  width: 70px;
  height: 50px;
  vertical-align: middle;
}

.custom-navbar{
    background-color: rgb(231, 231, 231);
    margin-right: 140px;
    margin-left: 140px;
    margin-top: 27px;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
   z-index: -1; 
}